<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158211326567-nrh5nc7q6pno3jimstuihujh9tg1r9rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158211326567-nrh5nc7q6pno3jimstuihujh9tg1r9rg</string>
	<key>API_KEY</key>
	<string>AIzaSyBOQl79NvTFf_WDTtW0Ew8M9gfMGi7q03w</string>
	<key>GCM_SENDER_ID</key>
	<string>158211326567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaya.swiftIssues</string>
	<key>PROJECT_ID</key>
	<string>jayaissues</string>
	<key>STORAGE_BUCKET</key>
	<string>jayaissues.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158211326567:ios:1979a07437b211267a8ac2</string>
	<key>DATABASE_URL</key>
	<string>https://jayaissues.firebaseio.com</string>
</dict>
</plist>